.container {
      /* Centers */
      margin: auto;
      margin-top: 100px;
      margin-bottom: 100px;
      text-align: center;
      border: 8px outset white;
      background: white; 
      width: 1000px;
}

body {
    /* Following prevents image from stretching  */
    background: url("../../assets/images/diamonds.png");
}

/* Four image containers  */
.column {
    float: left;
    width: 20%;
    height: auto; 
    padding: 10px;
}
  
/* Clear floats after image containers */
.crystals::after {
    content: "";
    clear: both;
    display: table;
}

.crystals {
    max-width: 500px;
    background: white;
    margin-left: 265px;
}

/* Removes bullet points from directions */
ul {
    list-style: none;
}