.container {
      /* Centers */
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      border: 4px double #e67cbf;
      background: white; 
      width: 1000px;
}

h1 {
/* Adds margin above h1 */
margin-top: 20px;
font-family: 'Lilita One', cursive; /* Google Font */
font-size: 50px;
color: #34be8d;
}

h2 {
    color: #5e5e5e;
}

h4 {
    font-size: 24px;
    color: #5e5e5e;
}

body {
background: url("../../assets/images/congruentpentagon.png");
font-family: 'Rajdhani', sans-serif; /* Google Font */
color: #5e5e5e;
line-height: 1.5;
}

/* Four image containers  */
.column {
    float: left;
    width: 20%;
    height: auto; 
    padding: 10px;
}
  
/* Clear floats after image containers */
.crystals::after {
    content: "";
    clear: both;
    display: table;
}

/* Sets sizing for crystals and centers in container */
.crystals {
    max-width: 500px;
    background: white;
    margin-left: 258px;
}

/* Aligns crystals horizontally from bottom */
#crystal1 {
    margin-top: 2px;
}

#crystal2 {
    margin-top: 4px;
}

#crystal3 {
    margin-top: 4px;
}


/* Removes bullet points from directions */
ul {
    list-style: none;
    padding-bottom: 20px;
}

/* Adds spacing below total score */
#totalscore {
    margin-bottom: 50px;
}



    